<ion-view>
	<ion-content class="content">
		<div class="goods">
			<div class="">
				<ion-slide-box auto-play="true" slide-interval=500 does-continue="true" class="slide-box">
					<ion-slide class="slidebox-img">
						<img src="../../img/zishahu.png" />
					</ion-slide>
				</ion-slide-box>
			</div>
			<div class="goods-title">
				<h4>{{whlDatas.goods_info.goods_name}}</h4>
				<p class="description">{{whlDatas.goods_info.goods_jingle}}</p>
				<section class="price">
					<span><i style="font-size: 0.8rem;">¥</i> {{whlDatas.goods_info.goods_price}}</span>
					<span>销量 : {{whlDatas.goods_info.goods_salenum}}件</span>
				</section>
				<section class="select">
					<p>
						<span>已选</span>
						<span>默认</span>
					</p>
					<p class="ion-chevron-right"></p>
				</section>
			</div>

			<div class="goods-evaluate">
				<div class="evaluate-header">
					<section class="evaluate-header-left" ui-sref="whl.evaluate">
						<span>商品评价</span>
						<span>好评率{{whlDatas.goods_evaluate_info.good_percent}}  %</span>
					</section>
					<section class="evaluate-header-right">
						<span>( {{whlDatas.goods_info.evaluation_count}}人评价 )</span>
						<span class="ion-chevron-right"></span>
					</section>
				</div>
				<div class="goods-evaluate-content" ng-repeat="eval in whlDatas.goods_eval_list">
					<section>

						<span class="star">
							<i ng-show='eval.geval_scores>= 1'><img src="../../img/star_r.png"/></i>
							<i ng-show='eval.geval_scores>= 2'><img src="../../img/star_r.png"/></i>
							<i ng-show='eval.geval_scores>= 3'><img src="../../img/star_r.png"/></i>
							<i ng-show='eval.geval_scores>= 4'><img src="../../img/star_r.png"/></i>
							<i ng-show='eval.geval_scores>= 5'><img src="../../img/star_r.png"/></i>
						</span>

						<span class="user">{{eval.geval_frommembername}}</span>
					</section>
					<p>{{eval.geval_content}}</p>
				</div>
			</div>
			<div class="goods-commend-container">
				<h5>店铺推荐</h5>
				<div class="goods-commend">
					<div class="goods-commend-lists" ng-repeat="commend in whlDatas.goods_commend_list">
						<div class="">
							<img src="{{commend.goods_image_url}}" />
						</div>
						<p class="name">{{commend.goods_name}}</p>
						<p class="price">¥{{commend.goods_promotion_price}}</p>
					</div>
				</div>
			</div>
			<div class="end">
				已经到最底了
			</div>
		</div>
	</ion-content>
	
	<div class="goods-footer">
		<div class="footer-left">
			<span class="kefu"><i></i>
					<p>客服</p>
				</span>
			<span class="cart"><i></i>
					<p>购物车</p></span>
		</div>
		<div class="footer-right">
			<span class="buy-now">立即购买</span>
			<span class="add-cart">加入购物车</span>

		</div>
	</div>
</ion-view>