<ion-view>
	<ion-content>
	<div class="mine">
		<div class="mine-head-container">

			<div class="mine-header">
				<span class="ion-ios-gear-outline"></span>
				<span class="ion-ios-more"></span>
			</div>
			<div class="head">
				<section></section>
				<p>点击登录</p>
			</div>
			<div class="my-collect">
				<span>
				<i class="goods-collect"></i>
				<p>商品收藏</p>
			   </span>
				<span>
				<i class="shop-collect"></i>
				<p>店铺收藏</p>
			    </span>
				<span>
				<i class="my-history"></i>
				<p>我的足迹</p>
			    </span>
			</div>
		</div>

		<div class="buy-lists">
			<div class="buy-lists-top">
				<section>
					<span><img src="../../img/mc_01.png"/></span>
					<span>我的订单</span>
				</section>
				<section>
					<span>查看全部订单</span>
					<span class="ion-ios-arrow-forward"></span>
				</section>
			</div>
			
			<div class="buy-lists-bottom">
				<span>
					<i style="background-image: url(../../img/mcc_01-1.png);"></i>
					<p>待付款</p>
				</span>
				<span>
					<i style="background-image: url(../../img/mcc_03.png);"></i>
					<p>待发货</p>
				</span>
				<span>
					<i style="background-image:url(../../img/mcc_02.png);"></i>
					<p>待收货</p>
				</span>
				<span>
					<i  style="background-image: url(../../img/mcc_04.png)"></i>
					<p>待评价</p>
				</span>
				<span>
					<i  style="background-image: url(../../img/mcc_05.png);"></i>
					<p>退款/退货</p>
				</span>
				
			</div>
		</div>
		<div class="buy-lists">
			<div class="buy-lists-top">
				<section>
					<span><img src="../../img/mc_02.png"/></span>
					<span>我的财产</span>
				</section>
				<section>
					<span>查看全部财产</span>
					<span class="ion-ios-arrow-forward"></span>
				</section>
			</div>
		</div>
		
		<div class="buy-footer">
			<div class="buy-lists-footer" style="border-bottom: solid 1px #EEEEEE;">
				<section>
					<span><img src="../../img/mc_03.png"/></span>
					<span>收货地址管理</span>
				</section>
				<section>
					<span class="ion-ios-arrow-forward"></span>
				</section>
			</div>
			<div class="buy-lists-footer" style="padding-top: 1rem;">
				<section>
					<span><img src="../../img/mc_04.png"/></span>
					<span>用户设置</span>
				</section>
				<section>
					<span class="ion-ios-arrow-forward"></span>
				</section>
			</div>
		</div>
		
		
		
	</div>
	</div>
	</ion-content>
</ion-view>