<ion-view>

	<div class="serachAll">
		<span class="ion-ios-arrow-left" ui-sref="tabs.home"></span>
		<section>
			<i class="ion-ios-search"></i>
			<input type="text" ng-change="inputs()" placeholder="个性首饰 手工制作 可..." ng-model="inputs.keys" />
		</section>
		<span ng-click="btnSearch()">搜索</span>
	</div>
	<ion-content class="has-header" style="margin-top: 0.9rem;height: 100%;">
		<div class="search-container" style="height: 140vh;">
			<ion-list>
				<ion-item ng-repeat="autoWord in autoWords.list" ui-sref="searchgoods"
					ng-click="getVal(autoWord)">{{autoWord}}</ion-item>
			</ion-list>

			<div class="hot-search">
				<h4>热门搜索</h4>

				<span ng-repeat="hotWord in hotWords.list">{{hotWord}}</span>
			</div>
			<div class="search-history">
				<h4>历史记录</h4>

				<span ng-repeat=" hisWord in hisWords">{{hisWord}}</span>
			</div>
			<div class="clearHis">
				<button ng-click="clearWords()">清空历史</button>
			</div>
		</div>

	</ion-content>
</ion-view>