html {
	margin: 0;
	padding: 0;
	font-size: 15px;
}


@media only screen and (min-width: 360px) {
	html {
		font-size: 15px !important;
	}
}

@media only screen and (min-width: 480px) {
	html {
		font-size: 18px !important;
	}
}

@media only screen and (min-width: 640px) {
	html {
		font-size: 20px !important;
	}
}

